extends _layout.pug

block content
  nav
    .menu-icon.open #[.bar1] #[.bar2] #[.bar3]
    .wrapper-menu
      .menu-logo
        img(src=`${path.static}/imgs/logo-menu.png`)
      ul.js-menu
        li.active #[a(href="#home") El Projecto]
        li #[a(href="#reports") Reportajes]
        li #[a(href="#graphics") Gráficos]
        li #[a(href="#service") A su servicio]
        li #[a(href="#news") Noticias]
  header
    .content
      .logo
        img(src=`${path.static}/imgs/logo.png`)        
  main
    section(id="home")
      .content
        p Home
    section(id="reports")
      .content
        p Reports
    section(id="graphics")
      .content
        p graphics
    section(id="service")
      .content
        p service
    section(id="news")
      .content    
        p news  

  footer
    .content
      
