@font-face
  font-family 'Rajdhani'
  font-style normal
  font-weight bold
  src url('../fonts/Rajdhani-Bold-font/Rajdhani-Bold.ttf') format("truetype"), \
      url('../fonts/Rajdhani-Bold-font/Rajdhani-Bold.woff') format("woff");

@font-face
  font-family 'Rajdhani'
  font-style normal
  font-weight normal
  src url('../fonts/Rajdhani-Regular-font/Rajdhani-Regular.ttf') format("truetype"), \
      url('../fonts/Rajdhani-Regular-font/Rajdhani-Regular.woff') format("woff");