@import '_style'

.content
  width 95%
  margin 0 auto
  p
    margin 15px 0

.logo
  font-family 'AnotherFlight'
  font-size 32px
  color #d1f122ee
  span
    margin-left 10px

header
  width 100%
  display flex
  align-items center

main
  flex 1
  display flex
  justify-content center

footer
  background #ecb330
  display flex
  p
    font-family 'arial'

body
  background white
  display flex
  flex-direction column
  min-height 100vh

.hide
  display none

section
  width 100%
  min-height 300px

main
  flex-direction column

nav
  position fixed
  background #ddd
  .menu-icon
    &.open
      .bar1
        transform rotate(-45deg) translate(-9px, 6px)
      .bar2
        opacity 0
      .bar3
        transform rotate(45deg) translate(-8px, -8px)
    div
      width 22px
      height 2px
      background-color #fff
      margin 6px 0
      transition 0.4s