* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
border 0 {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquotebefore,
blockquoteafter,
qbefore,
qafter {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:link,
a:hover,
a:active {
  color: #000;
  text-decoration: none;
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Rajdhani-Bold-font/Rajdhani-Bold.ttf") format("truetype"), url("../fonts/Rajdhani-Bold-font/Rajdhani-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Rajdhani-Regular-font/Rajdhani-Regular.ttf") format("truetype"), url("../fonts/Rajdhani-Regular-font/Rajdhani-Regular.woff") format("woff");
}
#header,
#main,
#footer {
  margin-left: 10%;
  margin-right: 10%;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
  -ms-transition: margin 0.3s ease-out;
  transition: margin 0.3s ease-out;
}
@media screen and (max-width: 1280px) {
  #header,
  #main,
  #footer {
    margin-left: 7.5%;
    margin-right: 7.5%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
@media screen and (max-width: 1120px) {
  #header,
  #main,
  #footer {
    margin-left: 5%;
    margin-right: 5%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
@media screen and (max-width: 960px) {
  #header,
  #main,
  #footer {
    margin-left: 0%;
    margin-right: 0%;
    -webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;
    -ms-transition: margin 0.3s ease-out;
    transition: margin 0.3s ease-out;
  }
}
.content {
  margin: 0 60px;
  margin-top: 27px;
}
.content p {
  margin: 15px 0;
}
header {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: #191718;
  -webkit-box-align: normal;
  -moz-box-align: normal;
  -o-box-align: normal;
  -ms-flex-align: normal;
  -webkit-align-items: normal;
  align-items: normal;
}
header .content {
  width: 95%;
  margin-top: 0;
}
header .foot {
  width: 100%;
  text-align: center;
}
header .foot img {
  max-width: 100%;
}
header .logo {
  width: 100%;
  text-align: center;
}
header .logo img {
  width: 100%;
  max-width: 225px;
}
@media (min-width: 768px) {
  header .logo img {
    max-width: 300px;
  }
}
.wrapper-header {
  padding-bottom: 40px;
}
main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
footer {
  background: #ecb330;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
footer p {
  font-family: 'arial';
}
body {
  background: #fff;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}
.hide {
  display: none;
}
section {
  width: 100%;
  min-height: 300px;
}
section h2 {
  font-family: Rajdhani;
}
main {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
nav {
  position: fixed;
  width: 135px;
  z-index: 1;
}
@media (min-width: 769px) {
  nav {
    background: none;
  }
  nav.open {
    background: #000;
  }
}
@media (max-width: 768px) {
  nav.open {
    background: #000;
  }
}
@media (max-width: 768px) {
  nav {
    width: 100%;
  }
}
.menu-items {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 20px;
}
.menu-items li {
  text-align: left;
  width: 80px;
  padding: 5px 0;
  border-bottom: 1px solid #0e0e0e;
}
.menu-items li:last-child {
  border-bottom: none;
}
.menu-items li.active a {
  color: #fd0f5d;
}
.menu-items li a {
  font-family: Rajdhani;
  color: #fff;
  font-weight: bold;
  font-size: 13px;
}
.menu-items li a:hover {
  color: #fd0f5d;
}
.menu-logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 35px 0;
}
.menu-logo img {
  height: 50px;
}
nav.open .menu-icon .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
  -moz-transform: rotate(-45deg) translate(-5px, 5px);
  -o-transform: rotate(-45deg) translate(-5px, 5px);
  -ms-transform: rotate(-45deg) translate(-5px, 5px);
  transform: rotate(-45deg) translate(-5px, 5px);
}
nav.open .menu-icon .bar2 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
nav.open .menu-icon .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px);
  -moz-transform: rotate(45deg) translate(-4px, -4px);
  -o-transform: rotate(45deg) translate(-4px, -4px);
  -ms-transform: rotate(45deg) translate(-4px, -4px);
  transform: rotate(45deg) translate(-4px, -4px);
}
.menu-icon {
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .menu-icon.close {
    background: none;
  }
}
.menu-icon div {
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
section[id="proyect"] {
  background: #000;
}
section[id="reports"] {
  background: #f55488;
}
section[id="graphics"] {
  background: #ece8e7;
}
section[id="service"] {
  background: #00a074;
}
section[id="news"] {
  background: #fff;
}
footer {
  background: #333;
  height: 176px;
}
